<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="greaterWins" value="1"/> <!--0-->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="Tournaments"
			 connectionString="server=(local);database=Tournaments;integrated security=SSPI;"
			 providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>